
<h2> NFDI4Chem Search Service </h2>

<p> The NFDI4Chem Search Service provides a single point of access to overarching datasets and search results from various
    chemistry and chemistry related repositories. One can browse through these datasets and optimize your search results
    by various filter options. The NFDI4Chem Search Service is developed and maintained by
    <a href="https://www.tib.eu/en/">TIB - Leibniz Information Centre for Science and Technology. </a>
    It is part of the service portfolio of the <a href="https://www.nfdi4chem.de/">NFDI4Chem consortium </a> within the
    <a href = "https://www.nfdi.de/?lang=en">National Research Data Infrastructure. </a>
</p>

<p>
   The Search Service currently harvests and indexes metadata from NFDI4Chem repository federation.
    </p>

    <h3> MassBank </h3>
    <p>
        <a href = "https://massbank.eu/MassBank/">MassBank </a> is an open source mass spectral library for the identification of small chemical molecules of metabolomics, exposomics and environmental 
        relevance. The vast majority of MassBank <a href="https://massbank.eu/MassBank/Contents"> contents </a> now features high-resolution mass spectrometry data, although all kinds of mass spectral data 
        are accepted. A range of <a href= "https://massbank.eu/MassBank/Search"> search </a> options are available for browsing the data. 
        The MassBank library is based on <a href = "https://github.com/MassBank/MassBank-data"> text file records </a> containing the record metadata 
        and the mass spectral information in the <a href="https://github.com/MassBank/MassBank-web/blob/main/Documentation/MassBankRecordFormat.md"> MassBank record format.</a> 
        All data is archived on <a href = "https://github.com/MassBank/MassBank-data"> GitHub </a> and <a href = "https://doi.org/10.5281/zenodo.3378723"> Zenodo </a>;
        the code is also on <a href= "https://github.com/MassBank/"> GitHub </a>. The MassBank library can be <a href = "https://github.com/MassBank/MassBank-data/releases"> downloaded in different formats such as text 
        records, database files (sql) and MSP files.</a>
    </p>
    <p>
        MassBank is maintained and developed by the <a href = "https://github.com/MassBank"> MassBank consortium </a> and is supported by 
        the <a href= "https://www.norman-network.net/"> NORMAN Association </a>, <a href = "https://www.fnr.lu/"> FNR </a> and NFDI4Chem. 
        The main sustainers and developers of MassBank and related tools are the Team of Steffen Neumann 
        <a href = "https://www.ipb-halle.de/forschung/synergieforschungsgruppen/forschungsgruppen/bioinformatik-forschungsdaten/"> (Leibniz Institute of Plant Biochemistry. IPB, Halle/Saale, Germany) </a>, 
        Michael Stravs <a href = "https://www.eawag.ch/en/aboutus/portrait/organisation/staff/profile/michael-stravs/show/">(Swiss Federal Institute of Aquatic Science and Technology, EAWAG, Dübendorf, Switzerland)</a>,  
        Emma Schymanski <a href = "https://wwwen.uni.lu/lcsb/people/emma_schymanski">(Luxembourg Centre for Systems Biomedicine, University of Luxembourg, LCSB, Belvaux, Luxembourg)</a>, 
        and Tobias Schulze <a href = "https://www.ufz.de/index.php?en=40500"> (Helmholtz Centre for Environmental Research, UFZ, Leipzig, Germany) </a>
    </p>

    <p> <a href="https://www.chemotion-repository.net/welcome"> Chemotion - Repository </a> </p>
