{% ckan_extends %}

{% block header_site_navigation_tabs %}

    <li>
            <a href="{{ h.url_for('/repository') }}">{{ _('Repositories') }}</a>
    </li>
 {{ h.build_nav_main(

        ('dataset.search', _('Datasets')),
        ('home.about', _('About')),
        ('footer.help',_('Help'))
  )
  }}

{% endblock %}

<div id="CookieAcceptBar" class = "cookieAcceptBar" style="display:block;">
    Please accept
    <a href="/data_protection#cookies"> cookies policy </a> <br>

<script>
        function cookieFunction() {
  setCookie('ldm_cookies_accepted', 'active', 7); // cookie will expire in seven days
  $('#cookieAcceptBar').fadeOut();
}
</script>
    <button id="cookieAcceptBarConfirm" class = "cookieAcceptBarButton btn btn-success" onclick="cookieFunction()">
        Accept and Close
    </button>

</div>