{% ckan_extends %}

{% block header_site_navigation_tabs %}

    <li>
            <a href="{{ h.url_for('/repository') }}">{{ _('Repositories') }}</a>
    </li>
 {{ h.build_nav_main(

        ('dataset.search', _('Datasets')),
        ('home.about', _('About')),
        ('footer.help',_('Help'))
  )
  }}

{% endblock %}

<div id="CookieAcceptBar" class = "cookie-container">
    <p> Please accept
    <a href="/data_protection#cookies"> cookies policy </a>
    </p>
    </div>
    <button id="cookieAcceptBarConfirm" class = "cookie-btn">
        Accept and Close
    </button>

<script type="text/javascript">

        const cookieContainer = document.querySelector(".cookie-container");
        const cookieButton = document.querySelector(".cookie-btn");

cookieButton.addEventListener("click", () => {
  cookieContainer.classList.remove("active");
  localStorage.setItem("cookieBannerDisplayed", "true");
});

setTimeout(() => {
  if (!localStorage.getItem("cookieBannerDisplayed")) {
    cookieContainer.classList.add("active");
  }
}, 2000);

</script>


