{% extends "page.html" %}

{% block toolbar %}

{% endblock %}
{% block primary %}

    <section class="module">

    <div class="module-content">
      {% block page_primary_action %}
         <h1> Search   </h1>
      {% endblock %}
      {% block form %}
        <form class="module-content search-form" method="get" action="{% url_for 'dataset.search' %}">
        {% snippet 'snippets/ckanext_footer_search_form.html', form_id='dataset-search-form', type='dataset', query=q, sorting=sorting, sorting_selected=sort_by_selected, placeholder= '...', facets=facets, show_empty=request.params, error=query_error, fields=fields %}
            </form>
      {% endblock %}

    </div>
  </section>
  {% block primary_content %}
  {% endblock %}
{% endblock %}

{% block secondary %}
{% endblock %}