{% extends 'page.html' %}

{% block primary_content %}
<section class="module">
<div class="module-content">
    {% set search_query = search_query %}

    {% include 'snippets/ckanext_footer_molecule_search_bar.html' %}

    {% set mol_dataset_list = packages.results %}

         {% if mol_dataset_list and mol_dataset_list|length > 0 %}
            <h2>{{ mol_dataset_list|length }} datasets found for "{{ search_query }}"</h2>

        {% set inchi_keys_processed = [] %}

         {% for package in mol_dataset_list %}
            {% if package.inchi_key not in inchi_keys_processed %}
                {# Retrieve molecule-specific information #}
            {% set inchi_key = package.inchi_key %}
            {% set mol_formula = package.mol_formula %}
            {% set exact_mass = package.exactmass %}
            {% set inchi = package.inchi %}
            {% set iupac_name = package.iupac_name %}
            {% set molecules_id = package.id %}

            {% set return_img = h.footer(package_inchiKey=inchi_key, page=package) %}
            <div>
                {{  h.snippet('snippets/ckanext_footer_package_search_result_image.html', return_value = return_img, imageName = molecules_id,
            package = packages, molecule_formula = mol_formula, exact_mass = exact_mass, inchi=inchi, iupac_name=iupac_name) }}
            </div>

            <div>
                {% for related_package in mol_dataset_list if related_package.inchi_key == inchi_key %}
                    {% snippet 'snippets/ckanext_footer_molecule_view_per_image.html', package = related_package.id  %}
                {% endfor %}
            </div>


            {% set _ = inchi_keys_processed.append(inchi_key) %}
            <hr style="height:1px; border-width:0; color:gray; background-color:black">
            {% endif %}

        {% endfor %}



    {% else %}
        <h2>No molecules found for "{{ search_query }}"</h2>
    {% endif %}
</div>




</section>
{% endblock %}


{% block secondary_content %}
<div class="filters">
    <div>
      {% for facet in facet_titles %}
            {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet,
        search_facets = search_facets) }}
      {% endfor %}
    </div>

    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
</div>
{% endblock %}

