{% extends 'page.html' %}
{% import 'macros/form.html' as form %}
{% import 'macros/form.html' as form_search %}

{% set dataset_type = 'molecule_view' %}
{% set facet_list = h.get_facet_field_list() %}
{% set packages,search_params = h.package_list()  %}


{% set package_result = packages.results %}
{% if package_result|length != 0 %}
    {% set first_inchi_key = package_result[0]['inchi_key'] %}
{% endif %}

{% for item in package_result %}
    {% if loop.first %}
        {% set first_dataset = item %}
    {% endif %}
{% endfor %}


{% set facet_titles =  {
                        'organization' : 'Repository',
                        'measurement_technique':'Measurement Technique',
                        'license_id': 'Licenses'}
%}


{% set packages_count = packages.count %}
{% set search_facets = facet_list.search_facets %}
{% set first_package = package_result[0] %}
{% set current_page_number = url_for(request.endpoint) %}
{% set mol_dataset_list,current_page, total_pages, total_datasets = h.mol_package_list() %}


{% block primary_content %}
<section class="module">
{% if search_params and first_inchi_key %}
    <div class="module-content">

      {% block form %}
        {% set facets = {
          'fields': fields_grouped,
          'search': search_facets,
          'titles': facet_titles,
          'translated_fields': translated_fields,
          'remove_field': remove_field }
        %}
        {{ h.snippet ('snippets/search_form.html', form_id='dataset-search-form', type=dataset_type, query=q, sorting=sorting, sorting_selected=sort_by_selected, count=packages.item_count, placeholder=_('Search ' + dataset_type + 's') + '...', facets=facets, show_empty=request.params, error=query_error, fields=fields) }}
      {% endblock %}

      {% block package_search_results_list %}
        {% set return_img = h.footer(package_inchiKey = first_inchi_key, page = packages) %}
        {% set mol_formula,exact_mass,inchi = h.get_molecule_data(package_id = package_result[0]['id']) %}

        <div>
            {{  h.snippet('snippets/ckanext_footer_package_search_result_image.html', return_value = return_img, imageName = molecules_id,
            package = packages, molecule_formula = mol_formula, exact_mass = exact_mass, inchi=inchi) }}
         </div>

        {{ h.snippet('snippets/package_list.html', packages= packages.results ) }}
      {% endblock %}

    </div>


{% else %}
    <div class="module-content ">

     {% block form_search %}
        {% set facets = {
          'fields': fields_grouped,
          'search': search_facets,
          'titles': facet_titles,
          'translated_fields': translated_fields,
          'remove_field': remove_field }
        %}

        {% snippet 'snippets/search_form.html', form_id='dataset-search-form', type=dataset_type, query=q, sorting=sorting, sorting_selected=sort_by_selected, count = total_datasets, placeholder=_('Search ' + dataset_type + 's') + '...', facets=facets, show_empty=request.params, error=query_error, fields=fields %}
    {% endblock %}

     {% for molecules_id, packages in mol_dataset_list %}

        {% set return_img = h.footer(package_inchiKey = molecules_id, page = packages) %}
       {# {% set mol_formula, IUpacName = h.get_molecule_data(package_inchiKey = molecules_id) %}#}

        {% set mol_formula,exact_mass, inchi = h.get_molecule_data(package_id = packages.split(', ')[0]) %}

        {% if inchi and not inchi.startswith('Short')%}
              <div>
                  {% snippet 'snippets/ckanext_footer_package_search_result_image.html', return_value = return_img, imageName = molecules_id,
                 package = packages, molecule_formula = mol_formula, exact_mass = exact_mass,  inchi = inchi %}
             </div>

            {% for package in packages.split(', ') %}
                        {% snippet 'snippets/ckanext_footer_molecule_view_per_image.html', package = package  %}
            {% endfor %}

            <hr style = "height:1px;border-width:0;color:gray;background-color:black">
        {% endif %}

     {% endfor %}


    <div class="pagination-wrapper">
    <ul class="pagination">
        {% if current_page > 1 %}
            <li><a href="{{ h.url_for('footer.molecule_view', page=current_page - 1) }}">«</a></li>
        {% else %}
            <li class="disabled"><span>«</span></li>
        {% endif %}

        {% for page in range(1, total_pages + 1) %}
            {% if page == current_page %}
                <li class="active"><span>{{ page }}</span></li>
            {% elif page == 1 or page == total_pages or page == current_page - 1 or page == current_page + 1 %}
                <li><a href="{{ h.url_for('footer.molecule_view', page=page) }}">{{ page }}</a></li>
            {% elif page == current_page - 2 or page == current_page + 2 %}
                <li class="disabled"><span>...</span></li>
            {% endif %}
        {% endfor %}

        {% if current_page < total_pages %}
            <li><a href="{{ h.url_for('footer.molecule_view', page=current_page + 1) }}">»</a></li>
        {% else %}
            <li class="disabled"><span>»</span></li>
        {% endif %}
    </ul>
</div>

 </div>
{% endif %}

{% endblock %}

</section>


{% block secondary_content %}
<div class="filters">
    <div>
        <p>{{ facet_list }} </p>
      {% for facet in facet_titles %}
            {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet,
        search_facets = search_facets) }}
      {% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
</div>
{% endblock %}


{% block styles %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}